blessed==1.20.0
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
decorator==4.4.2
fonttools==4.39.4
gpxpy==1.5.0
idna==3.4
imageio==2.30.0
imageio-ffmpeg==0.4.8
inquirer==3.1.3
kiwisolver==1.4.4
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
proglog==0.1.10
pyparsing==3.0.9
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2023.3
readchar==4.0.5
requests==2.31.0
six==1.16.0
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.2
wcwidth==0.2.6
