// // @media (prefers-reduced-motion: no-preference) {
// //   .App-logo {
// //     animation: App-logo-spin infinite 20s linear;
// //   }
// // }

// // .App-header {
// //   background-color: #282c34;
// //   min-height: 100vh;
// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   justify-content: center;
// //   font-size: calc(10px + 2vmin);
// //   color: white;
// // }

// // .App-link {
// //   color: #61dafb;
// // }

// // @keyframes App-logo-spin {
// //   from {
// //     transform: rotate(0deg);
// //   }
// //   to {
// //     transform: rotate(360deg);
// //   }
// // } */

// // $body-bg: #000;
// // $body-color: #111;
// // $theme-colors: (
// //   "primary": rgb(5, 126, 5),
// //   "danger": pink,
// // );

/* FlaskServerStatus */
.status-bar {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.status-bar.orange {
  background-color: orange;
}

.status-bar.orange::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.logo {
  width: 60px;
}

.file-input {
  display: none;
}

// bootstrap5 sidebar example css
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

// CUSTOM
.card-title.level-1 {
  // this hides the editor's root schema title
  display: none !important;
}

.stuckk {
  position: fixed;
}
