

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


// $body-bg: #000;
// $body-color: #111;
// $theme-colors: (
  // "primary": rgb(5, 126, 5),
  // "danger": pink,
// );

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

// * {
  // font-family: "Libre Baskerville", serif;
  // font-weight: 400;
  // font-style: normal;
// }
h1 {
  font-family: "Libre Baskerville", serif;
  /* font-weight: 700; */
  /* font-style: normal; */
}

/* FlaskServerStatus */
.status-bar {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.status-bar.orange {
  background-color: orange;
}

.status-bar.orange::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* FileUpload */
.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.file-input {
  display: none;
}

.file-upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.file-upload-button:hover {
  background-color: #0056b3;
}


@import '~bootstrap/scss/bootstrap.scss';
